---
// IMPORTS
import type { Multi } from "@types";
import BaseLayout from "@layouts/BaseLayout.astro";
import LogoRender from "@components/LogoRender.astro";
import Latest from "@components/Latest.astro";
import Contact from "@components/Contact.astro";
import { site } from "@i18n/sections";
import { defaultLang } from "@i18n/ui";

// ACTIONS
// Get locale from folder structure
const locale: keyof Multi = Astro.currentLocale || defaultLang;

// Other
const stack = ["astro", "js", "typescript", "mdx", "tailwind", "threejs"];
---

<BaseLayout
  siteTitle={site.title[locale]}
  description={site.description[locale]}
  pageTitle="Welcome to my website 👋"
  locale={locale}
>
  <section class="homepage">
    <div class="lg:flex items-baseline gap-2 md:my-7 intersect">
      <span class="text-3xl">
        <p class="my-0">
          My name is <strong
            ><span class="highlight underline md:no-underline md:c1"
              >José A Bolanos</span
            ></strong
          >.
        </p>
      </span>

      <span class="hidden md:flex">
        <p class="my-0">
          <span class="italic">Developer</span>.
          <strong>Political Economist</strong>.
        </p>
      </span>
    </div>

    <div class="md:flex gap-8 items-center intersect">
      <span class="flex-initial w-[100%] grow text-3xl">
        <h2 class="mb-0 leading-tight">
          <strong><span class="highlight c3">I love coding.</span></strong>
        </h2>
        <h3 class="hidden leading-tight md:block">It gives me peace.</h3>
      </span>
      <span class="">
        <p class="text-1xl before:content-['->']">
          I am at my best when coding in <strong>Python</strong>, <strong
            >VBA</strong
          >, and <strong>JS</strong> (incl. vanilla-JS, jQuery, React, GatsbyJS,
          and Astro). I also really like <strong>SQL</strong>, up to and
          including analytical functions.
        </p>
        <p class="text-1xl before:content-['->']">
          I am particularly good at <strong>combining languages/stacks</strong>.
          For instance, this website combines Astro, React, and Three.js.
        </p>
      </span>
    </div>

    <span class="md:flex gap-8 items-center md:flex-row-reverse intersect">
      <span class="flex-initial w-[100%] grow text-3xl">
        <h2 class="mb-0">
          <strong
            ><span class="highlight c2 leading-tight">I enjoy thinking.</span
            ></strong
          >
        </h2>
        <h3 class="hidden leading-tight md:block">It's fun!</h3>
      </span>

      <span>
        <p class="text-1xl before:content-['->'] md:text-right">
          I am a <strong>Political Economist</strong> and was previously in academia
          (KCL, TU Dresden, LSE). This is helpful when dealing with
          <strong>digital ethics/sustainability</strong> challenges or <strong
            >complex political/regulatory landscapes</strong
          >.
        </p>
        <p class="text-1xl before:content-['->'] md:text-right">
          Additionally, though oft overlooked, the combination of skills shows I
          love and am <strong>good at discovering new things</strong>, which, as
          it turns out, is a <strong>huge advantage in coding</strong>.
        </p>
      </span>
    </span>
    <br />
    <span>
      <p class="intersect"><strong>Website made with:</strong></p>
      <span class="flex flex-wrap"
        >{
          stack.map((item: string) => (
            <LogoRender label={item} locale={locale} />
          ))
        }</span
      >
    </span>
  </section>

  <section>
    <Latest sectionTitle="Latest" numberOfEntries={6} locale={locale} />
  </section>

  <section class="intersect">
    <Contact locale={locale} />
  </section>
</BaseLayout>
