---
// IMPORTS
import type { Multi } from "@types";
import BaseLayout from "@layouts/BaseLayout.astro";
import LogoRender from "@components/LogoRender.astro";
import Latest from "@components/Latest.astro";
import Contact from "@components/Contact.astro";
import { site } from "@i18n/sections";
import { defaultLang } from "@i18n/ui";

// ACTIONS
// Get locale from folder structure
const locale: keyof Multi = Astro.currentLocale || defaultLang;

// Other
const stack = ["astro", "js", "typescript", "mdx", "tailwind", "threejs"];
---

<BaseLayout
  siteTitle={site.title[locale]}
  description={site.description[locale]}
  pageTitle="Welcome 👋"
  locale={locale}
>
  <section class="homepage">
    <div>
      <p class="intersect text-2xl">
        Olen <span class="italic">Dr J</span>, <strong>
          <span class="">Poliittinen taloustieteilijä ja ohjelmistokehittäjä</span
          ></strong
        > , jolla on kolmen vuoden kokemus ohjelmistokehityksestä ja yli
        viiden vuoden tutkimus- ja analytiikkakokemus.
      </p>
    </div>

    <div class="md:flex gap-2 intersect py-5">
      <div
        class="w-full md:bg-gray-800 md:dark:bg-gray-900 md:text-white md:border md:border-teal-300 md:dark:border-white md:border-solid md:dark:border-dotted md:p-5"
      >
        <h3 class="underline md:no-underline">"Freelance"-koodaus</h3>
        <p class="text-sm my-1 text-black">
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Fullstack</span
          >
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Tekoäly</span
          >
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Digitaalinenkestävyys</span
          >
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Räätälöityohjelmisto</span
          >
        </p>
        <p class="inline md:block">
          Myyn ratkaisuja, en vain koodausta. Sopeudun tarpeisiisi ja luon koodia, mikä auttaa sinua saavuttamaan tavoitteesi.
        </p>
        <p class="inline">
          Katso täydellinen luettelo palveluista <a href="/palvelut/fi/">täältä</a>.
        </p>
      </div>

      <div
        class="mt-5 md:mt-0 w-full md:bg-gray-800 md:dark:bg-gray-900 md:text-white md:border md:border-teal-300 md:dark:border-white md:border-solid md:dark:border-dotted md:p-5"
      >
        <h3 class="underline md:no-underline">Strategia- ja projektinhallintapalvelut</h3>
        <p class="text-sm my-1 text-black">
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Strategia</span
          >
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Suunnittelu</span
          >
          <span class="py-1 px-2 bg-teal-300 rounded-md border border-black"
            >#Toteutus</span
          >
        </p>
        <p class="inline md:block">
          Monipuolisen taustani ansiosta ymmärrän digitaalisen teknologian haasteet sekä teknisestä että liiketoiminnan näkökulmasta.
        </p>
        <p class="inline">
          <a href={"mailto:hello@josebolanos.xyz"} target="_blank"
            >Ota yhteyttä</a
          > saadaksesi lisätietoja minusta
        </p>
      </div>
    </div>

    <br />
    <span>
      <p class="intersect"><strong>Sivut tehty käyttäen:</strong></p>
      <span class="flex flex-wrap"
        >{
          stack.map((item: string) => (
            <LogoRender label={item} locale={locale} />
          ))
        }</span
      >
    </span>
  </section>

  <section>
    <Latest sectionTitle="Latest" numberOfEntries={6} locale={locale} />
  </section>

  <section class="intersect">
    <Contact locale={locale} />
  </section>
</BaseLayout>
