---
// IMPORTS
import type { Multi } from "@types";
import BaseLayout from "@layouts/BaseLayout.astro";
import LogoRender from "@components/LogoRender.astro";
import Latest from "@components/Latest.astro";
import Contact from "@components/Contact.astro";
import { site } from "@i18n/sections";
import { defaultLang } from "@i18n/ui";

// ACTIONS
// Get locale from folder structure
const locale: keyof Multi = Astro.currentLocale || defaultLang;

// Other
const stack = ["astro", "js", "typescript", "mdx", "tailwind", "threejs"];
---

<BaseLayout
  siteTitle={site.title[locale]}
  description={site.description[locale]}
  pageTitle="Tervetuloa sivuilleni 👋"
  locale={locale}
>
  <section class="homepage">
    <div>
      <p class="my-0">
        <span class="text-3xl">
          Minä olen <strong><span class="underline">José</span></strong>,</span
        > kehittäjä/analyytikko, jolla on 3 vuoden kokemus ohjelmistokehityksestä ja yli
        5 vuoden tutkimus- ja analytiikkakokemus.
      </p>
      <p>
        Tarjoan <strong>koodauspalveluita</strong> eri aloilla ja tukea <strong
          >strategiaan/suunnitteluun</strong
        > toimialoilla, joilla olen itse asiantuntija (katso alla).
      </p>
    </div>

    <div class="md:flex gap-8 items-center intersect">
      <span class="flex-initial w-[100%] grow text-2xl">
        <h2 class="mb-0 leading-tight">
          <strong><span class="highlight c3">Rakastan koodausta.</span></strong>
        </h2>
        <h3 class="hidden leading-tight md:block">Se on hauskaa.</h3>
      </span>
      <span class="">
        <p class="text-1xl before:content-['->']">
          Osaan monia kieliä, mutta pidän erityisen paljon <strong
            >Pythonista</strong
          >, en ehdottomasti pidä R:stä ja olen melko tyytyväinen <strong
            >JS:ään</strong
          >.
        </p>
        <p class="text-1xl before:content-['->']">
          Olen erittäin hyvä <strong
            >kielten/työkalujen yhdistämisessä</strong
          >. Tämä sivusto esimerkiksi yhdistää Astro-, React- ja 3D-animaatioita
          Three.js:n avulla.
        </p>
      </span>
    </div>

    <div class="md:flex gap-8 items-center md:flex-row-reverse intersect">
      <span class="flex-initial w-[100%] grow text-2xl">
        <h2 class="mb-0">
          <strong
            ><span class="highlight c2 leading-tight">Näen kokonaisuuden.</span
            ></strong
          >
        </h2>
        <h3 class="hidden leading-tight md:block">Sillä on väliä!</h3>
      </span>

      <span>
        <p class="text-1xl before:content-['->'] md:text-right">
          Olen koulutukseltani <span class="italic">poliittinen ekonomisti</span
          >. Haluatko <strong>ymmärtää käyttäjien käyttäytymistä</strong>, <strong
            >hallita sidosryhmien erimielisyyksiä</strong
          > tai <strong
            >selvittää monimutkaisia ​​digitaaliteknologian säädöksiä</strong
          >? Haluat minut tiimiisi.
        </p>
        <p class="text-1xl before:content-['->'] md:text-right">
          Olen julkaistu asiantuntija energia-, elintarvike- ja politiikan sekä
          kestävän kehityksen aloilla. <strong
            >Tarvitsetko analytiikkaa tai ohjelmistoja näillä aloilla</strong
          >? Tarvitset minut tiimiisi.
        </p>
      </span>
    </div>
    <br />
    <span>
      <p class="intersect"><strong>Sivut tehty käyttäen:</strong></p>
      <span class="flex flex-wrap"
        >{
          stack.map((item: string) => (
            <LogoRender label={item} locale={locale} />
          ))
        }</span
      >
    </span>
  </section>

  <section>
    <Latest sectionTitle="Uusin" numberOfEntries={6} locale={locale} />
  </section>

  <section class="intersect">
    <Contact locale={locale} />
  </section>
</BaseLayout>
