---
// IMPORTS
import type { Multi } from "@types";
import BaseLayout from "@layouts/BaseLayout.astro";
import LogoRender from "@components/LogoRender.astro";
import Latest from "@components/Latest.astro";
import Contact from "@components/Contact.astro";
import { site } from "@i18n/sections";
import { defaultLang } from "@i18n/ui";

// ACTIONS
// Get locale from folder structure
const locale: keyof Multi = Astro.currentLocale || defaultLang;

// Other
const stack = ["astro", "js", "typescript", "mdx", "tailwind", "threejs"];
---

<BaseLayout
  siteTitle={site.title[locale]}
  description={site.description[locale]}
  pageTitle="Tervetuloa sivuilleni 👋"
  locale={locale}
>
  <section class="homepage">
    <div class="lg:flex items-baseline gap-2 md:my-7 intersect">
      <span class="text-3xl">
        <p class="my-0">
          Minä olen <strong
            ><span class="highlight underline md:no-underline md:c1">José</span
            ></strong
          >.
        </p>
      </span>

      <span class="hidden md:flex">
        <p class="my-0">
          <span class="italic">Koodaaja</span>.
          <strong>Poliittinen taloustieteilijä</strong>.
        </p>
      </span>
    </div>

    <div class="md:flex gap-8 items-center intersect">
      <span class="flex-initial w-[100%] grow text-3xl">
        <h2 class="mb-0 leading-tight">
          <strong><span class="highlight c3">Rakastan koodausta.</span></strong>
        </h2>
        <h3 class="hidden leading-tight md:block">Se on hauskaa.</h3>
      </span>
      <span class="">
        <p class="text-1xl before:content-['->']">
          Olen parhaimmillani koodatessa <strong>Pythonilla</strong>, <strong
            >VBA:lla</strong
          > ja <strong>JS:llä</strong> (myös vanilla-JS, jQuery, React, GatsbyJS
          ja Astro). Pidän myös todella paljon <strong>SQL:stä</strong>,
          analyyttiset toiminnot mukaan lukien.
        </p>

        <p class="text-1xl before:content-['->']">
          Olen myös erityisen hyvä <strong
            >yhdistämään ohjelmointikieliä/stacks</strong
          >. En tiedä miksi. Minulla vain on se taito. Näillä sivuilla
          esimerkiksi yhdistyy Astro, React ja Three.js.
        </p>
      </span>
    </div>

    <span class="md:flex gap-8 items-center md:flex-row-reverse intersect">
      <span class="flex-initial w-[100%] grow text-3xl">
        <h2 class="mb-0">
          <strong
            ><span class="highlight c2 leading-tight">Nautin ajattelusta.</span
            ></strong
          >
        </h2>
        <h3 class="hidden leading-tight md:block">Se on myös hauskaa!</h3>
      </span>

      <span>
        <p class="text-1xl before:content-['->'] md:text-right">
          Olen <strong>poliittinen taloustieteilijä</strong> koulutukseltani ja olin
          <strong>aiemmin akateemisessa maailmassa</strong> (KCL, TU Dresden, LSE).
          Tästä taustasta on valtavasti hyötyä projekteissa, joissa on digitaalisen
          etiikkaan/kestävään kehitykseen liittyvä aspekti ja kun vastassa on monimutkaisia
          säädöksiä.
        </p>
        <p class="text-1xl before:content-['->'] md:text-right">
          Tämän lisäksi, tämä <strong>monipuolinen osaamiseni</strong> tarkoittaa,
          että rakastan oppia uutta. Tykkään löytää ratkaisuja ja olen parhaimmillani
          tilanteissa, missä ratkaisua ei vielä alussa tiedä, riippumatta aihealueesta.
        </p>
      </span>
    </span>
    <br />
    <span>
      <p class="intersect"><strong>Sivut tehty käyttäen:</strong></p>
      <span class="flex flex-wrap"
        >{
          stack.map((item: string) => (
            <LogoRender label={item} locale={locale} />
          ))
        }</span
      >
    </span>
  </section>

  <section>
    <Latest sectionTitle="Uusin" numberOfEntries={6} locale={locale} />
  </section>

  <section class="intersect">
    <Contact locale={locale} />
  </section>
</BaseLayout>
