---
// TYPES & IMPORTS
import { type CollectionEntry, getCollection } from "astro:content";
import { type GetStaticPathsOptions } from "astro";
import BlogRollLayout from "@layouts/BlogRoll.astro";
import BlogEntryPreview from "@components/BlogEntryPreview.astro";
import Pagination from "@components/Pagination.astro";
import { languages } from "@i18n/ui";

// ACTIONS
// Additional types
type Service = CollectionEntry<"servicios">;

// Dynamic routing with pagination
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	// Get all services and sort them
	const services: Service[] = (await getCollection("servicios")).sort(
		(a: Service, b: Service) =>
			b.data.updateDate.valueOf() - a.data.updateDate.valueOf(),
	);

	let splitTags: string[][] = [];
	Object.keys(languages).map((locale) => {
		const tags = [
			...new Set(
				services
					.filter((service) => service.slug.startsWith(locale))
					.map((service) => service.data.tags)
					.flat(),
			),
		];
		splitTags.push(tags);
	});

	// Return services by locale, paginated
	return Object.keys(languages).flatMap((lang) => {
		const filteredProjects = services.filter(
			(a: { slug: string }) => a.slug.split("/")[0] === lang,
		);

		return paginate(filteredProjects, {
			params: { lang },
			props: { splitTags },
			pageSize: 6,
		});
	});
}

const { splitTags, page } = Astro.props;
const locale = Astro.params.lang;
---

<BlogRollLayout
	page={page}
	tags={splitTags}
	locale={locale}
	section="services"
>
	<section>
		<ul class="grid grid-cols-1 md:grid-cols-3 gap-4 list-none ml-0">
			{
				page.data.map((service: Service) => (
					<BlogEntryPreview post={service} locale={locale} />
				))
			}
		</ul>
		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
	</section>
</BlogRollLayout>
