---
// IMPORTS
import type { Multi } from "@types";
import { languages } from "@i18n/ui";
import { getRoutes, sanitizeRoutes } from "@i18n/utils";

// ACTIONS
// Get locale
const { locale } = Astro.props;

// Determine current slug from pathname
const currentPath = Astro.url.pathname;
const parts = currentPath.split("/");
let slug: string | undefined = parts.pop() || parts.pop();

// Define routes for versions of page in other languages, using locale
const routes: Multi | string = getRoutes(slug);
---

<span class="flex items-center justify-center">
	{
		Object.keys(languages).map((l) => (
			<a
				href={sanitizeRoutes(
					typeof routes === "object"
						? currentPath
								.replace(`/${locale}/`, `/${l}/`)
								.replace(`/${slug}/`, `/${routes[l]}/`)
								.replace(`/${slug}`, `/${routes[l]}/`)
						: currentPath
								.replace(`/${locale}/`, `/${l}/`)
								.replace(`/${locale}`, `/${l}/`),
				)}
				aria-label={`Change language to ${l}`}
			>
				<img
					src={`/icons/${l}.svg`}
					alt={`Icon flag for ${l} language.`}
					class="ml-1 w-8 h-8 hover:animate-pulse"
				/>
			</a>
		))
	}
</span>
