---
// IMPORTS
import type { Multi } from "@types";
import BaseLayout from "@layouts/BaseLayout.astro";
import LogoRender from "@components/LogoRender.astro";
import Latest from "@components/Latest.astro";
import Contact from "@components/Contact.astro";
import { site } from "@i18n/sections";
import { defaultLang } from "@i18n/ui";

// ACTIONS
// Get locale from folder structure
const locale: keyof Multi = Astro.currentLocale || defaultLang;

// Other
const stack = ["astro", "js", "typescript", "mdx", "tailwind", "threejs"];
---

<BaseLayout
  siteTitle={site.title[locale]}
  description={site.description[locale]}
  pageTitle="Bienvenido a mi sitio👋"
  locale={locale}
>
  <section class="homepage">
    <div>
      <p class="my-0">
        <span class="lg:text-3xl">
          Mi nombre es <strong
            ><span class="underline">José A Bolanos</span></strong
          >,</span
        > desarrollador/analista con 3 años de experiencia en software y más de 5
        adicionales de experiencia en investigación y análisis.
      </p>
      <p>
        Ofrezco <strong>servicios de programación</strong> en todos los sectores
        y <strong>de estrategia y diseño</strong> en sectores en los que soy un experto
        (detalles abajo).
      </p>
    </div>

    <div class="md:flex gap-8 items-center intersect mt-5">
      <span class="flex-initial w-[100%] grow text-2xl">
        <h2 class="mb-0 leading-tight">
          <strong
            ><span class="highlight c3">Me apasiona programar.</span></strong
          >
        </h2>
        <h3 class="leading-tight">Me da paz.</h3>
      </span>
      <span>
        <p class="hidden md:block text-1xl before:content-['->']">
          Me va muy bien con <strong>Python</strong>, <strong>VBA</strong>, y <strong
            >JS</strong
          > (incluyendo React, GatsbyJS, y Astro). También me gusta mucho el <strong
            >SQL</strong
          >, en particular, las funciones analíticas.
        </p>
        <p class="text-1xl before:content-['->']">
          Como dato curioso, salí bastante bueno <strong>combinando lenguajes/stacks</strong>. Por
          ejemplo, este sitio combina Astro, React, y Three.js.
        </p>
      </span>
    </div>

    <div class="md:flex gap-8 items-center md:flex-row-reverse intersect">
      <span class="flex-initial w-[100%] grow text-2xl">
        <h2 class="mb-0">
          <strong
            ><span class="highlight c2 leading-tight"
              >Veo el panorama general.</span
            ></strong
          >
        </h2>
        <h3 class="leading-tight">¡Es importante!</h3>
      </span>

      <span>
        <p class="text-1xl before:content-['->'] md:text-right">
          Soy economista político con rigorosa formación académica. ¿Necesitas <strong
            >comprender mejor el comportamiento de tus usuarios</strong
          >, <strong>gestionar desacuerdos entre "stakeholders"</strong> o
          <strong>hacerle frente a regulaciones digitales</strong>? Me quieres
          en tu equipo.
        </p>
        <p class="hidden md:block text-1xl before:content-['->'] md:text-right">
          Soy un experto y tengo publicaciones en los sectores energía,
          alimentación, política pública, y sostenibilidad. <strong
            >¿Necesitas herramientas analíticas o de software en
            estos sectores</strong
          >? Me necesitas en tu equipo.
        </p>
      </span>
    </div>
    <br />
    <span>
      <p class="intersect"><strong>Sitio hecho con:</strong></p>
      <span class="flex flex-wrap"
        >{
          stack.map((item: string) => (
            <LogoRender label={item} locale={locale} />
          ))
        }</span
      >
    </span>
  </section>

  <section>
    <Latest sectionTitle="Latest" numberOfEntries={6} locale={locale} />
  </section>

  <section class="intersect">
    <Contact locale={locale} />
  </section>
</BaseLayout>
