---
// IMPORTS
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import AnimationWrapper from "@components/AnimationWrapper";
import Footer from "@components/Footer.astro";


// TYPES
interface Props {
	siteTitle: string;
	description: string;
	pageTitle: string;
	locale: string;
	heroImage?: string;
}

// FUNCTIONS & ACTIONS
// Get props, incl. locale
const { siteTitle, description, pageTitle, locale, heroImage } = Astro.props;
---

<html lang={locale}>
	<head>
		<BaseHead
			siteTitle={siteTitle}
			description={description}
			pageTitle={pageTitle}
			locale={locale}
			image={heroImage}
		/>
		<ViewTransitions />
	</head>

	<body
		
		class="leading-loose text-normal text-pretty break-words text-base font-mono dark:bg-black dark:text-gray-300"
	>
		<Header locale={locale} />
		<main class="min-h-[100lvh]">
			<AnimationWrapper locale={locale} client:load />
			<div id="content" class="mt-[10rem] mx-auto" >
				<h1 id="glitch" class="enter">{pageTitle}</h1>
				<slot />
			</div>
		</main>
		<Footer locale={locale}/>
	</body>
</html>
<script src="styles/global.js"></script>
