---
// IMPORTS
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { site } from "@i18n/sections";

// ACTIONS
// Get props, incl. locale
const { title, description, locale, pubDate, updateDate, heroImage } = Astro.props;
console.log(updateDate)

---

<BaseLayout
	siteTitle={site.title[locale]}
	description={description}
	pageTitle={title}
	locale={locale}
	heroImage={heroImage}
>
	<article class="post">
		<div class="-mt-10 mb-10">
			{updateDate ? <span>{locale === "en" ? "Last update" : locale === "es" ? "Última actualización": "Päivitetty"}</span> : ""}
			<FormattedDate date={updateDate ? updateDate : pubDate} />
		</div>
		<slot />
		
	</article>
</BaseLayout>
